* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: "Roboto", serif;
}

a {
    color: black;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: 14px;
    line-height: 20px;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 100;
    padding: 10px 20px;
    border-bottom: solid 1px black;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 10px
}

.nav-links img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    max-width: 1000px;
    height: 85vh;
    gap: 20px;
}

.hero h1 {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 8px;
}

.hero p {
    color: #4b5563;
    margin-bottom: 8px;
}

.hero-img img {
    height: 500px;
    border-radius: 10px;
}

.work-title {
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 12px;
}

.work-subtitle {
    color: #4b5563;
    padding: 0px 20px 5px 20px;
    max-width: 1000px;
    text-align: center;
    margin: auto
}

.chips-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.chip {
    border-radius: 99999px;
    padding: 4px 12px;
    font-size: 14px;
    border: 1px solid black
}

.projects-container {
    padding: 0px 20px;
}

.project {
    margin: 40px;
    max-width: 1024;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    position: relative
}

.img-container {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 150ms;
}

.project:hover .img-container {
    transform: scale(1.05);
}

.img-overlay {
    position: absolute;
    inset: 0px;
    background-color: #26262699;

}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-text-container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
}

.project-text-container {
    font-size: 36px;
    line-height: 40px;
    color: white;
    font-weight: 900;
}

.project-text-subtitle {
    font-size: 14px;
    margin-bottom: 12px;
    color: white;
    padding-top: 5px;
    max-width: 50%;
}

footer {
    display: flex;
    padding: 30px;
    background-color: rgb(20, 20, 20);
    color: white;
    justify-content: center;
}

button {
    border: solid 1px black;
    border-radius: 6px;
    transition: border-radius 150ms;
    width: 128px;
    padding: 8px 0px;
    background: black;
    font-size: 14px;
    color: white;
    cursor: pointer;

}

button:hover {
    border-radius: 10px;
}

.white-button {
    background-color: white;
    color: black;
}


@media screen and (max-width: 1024px) {
    .hero {
        flex-direction: column;
        padding: 12px 0px;
        margin-top: 70px;
    }

    .hero h1 {
        font-size: 36px;
        line-height: 40px;
    }

    hero-img img {
        height: 420px;
    }

    .hero-text-container {
        padding: 0px 20px;
    }

}

@media screen and (max-width: 724px) {
    p {
        font-size: 12px;
        line-height: 16px;
    }

    .hero {
        min-height: unset;
        margin-bottom: 40px;
    }

    .hero h1 {

        font-size: 24px;
        line-height: 32px;
    }

    .hero-img img {
        height: min(60vh, 360px);
    }

    .work-title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 6px;
    }

    .chips {
        padding: 4px 10px;
    }

    .project {
        margin: 25px;
        height: 300px;
    }

    .project-text-title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 12px;
    }

    .project-text-subtitle {
        padding: 20px 10px
    }
}